bower_components
node_modules
npm-debug.log
/nbproject/private/
npm-debug.log
*.iml
dist
test/tmp
.DS_Store
*.log
build
*.node
components
coverage
*.orig
.idea
sandbox
test/out-fixtures/*
test/watch-*.txt
gulp.1
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
*.swp